[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"

[packages]
epitran = "*"
nltk = "*"
dragonmapper = "*"
ipapy = "*"
inflect = "*"
unidecode = "*"
cmudict-parser = {editable = true, ref = "master", git = "https://github.com/stefantaubert/cmudict-parser.git"}

[requires]
python_version = "3.8"
