[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
text-utils = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"
pytest = "*"
unittest2pytest = "*"
pytest-xdist = "*"

[packages]
pronunciation_dict_parser = {editable = true, path = "./../pronunciation_dict_parser"}
g2p_en = {editable = true, path = "./../g2p"}
sentence2pronunciation = {editable = true, path = "./../sentence2pronunciation"}
epitran = "*"
nltk = "*"
dragonmapper = "*"
inflect = "*"
unidecode = "*"

[requires]
python_version = "3.8"
