[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"
pytest = "*"
text-utils = {editable = true, path = "."}
unittest2pytest = "*"
pytest-xdist = "*"

[packages]
epitran = "*"
nltk = "*"
dragonmapper = "*"
ipapy = "*"
inflect = "*"
unidecode = "*"
cmudict_parser = {editable = true, ref = "master", git = "https://github.com/stefantaubert/cmudict-parser.git"}
g2p_en = {editable = true, ref = "master", git = "https://github.com/stefantaubert/g2p.git"}

[requires]
python_version = "3.8"
